body{
    background-image: url("Images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
header nav{
    background-color: black;
    width: 100%;
    height: 12%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
header nav img{
    border-radius: 50%;
}
header nav ul{
    margin-top: 30px;
    list-style: none;
    display: flex;
}
h4{
    font-size: 30px;
    margin-top: 31px;
}
header nav ul li{
    padding: 3px 25px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: .3s linear;
}
header nav ul li a:hover{
    color: grey;
}
#login-bg{
    background-color: white;
    width: 350px;
    height: 440px;
    margin-top: 245px;
    margin-left: 715px;
    border: 2px solid black;
    border-radius: 140px 140px;
    opacity: 0.5;
    transform: rotate(360deg);
    transition: 1.5s;
}
#login-bg:hover{
    transform: rotate(0deg);
}
#login-bg form h2{
    margin-bottom: 30px;
    font-size: 50px
    
}
#login-bg form h5{
    font-size: 15px;
}

form{
    margin-top: 70px;
    text-align: center;
    font-weight: bold;

}
#login-bg form input{
    height: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: blue;
}
#login-bg form #submit-btn{
    background-color: black;
    color: white;
    border-radius: 30px;
}
#login-bg form #submit-btn:hover{
    
    background-color: white;
    color: black;
}
#login-text{
 
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
